/* .vitepress/theme/my-fonts.css */
:root {
  --vp-font-family-base: "Source Han Sans SC", "Noto Sans SC", "PingFang SC", "sans-serif";
  --vp-font-family-mono: "JetBrains Mono", "Source Code Pro", "Consolas", "monospace";
}